Table{
	table-layout: auto;
	text-justify: inherit;
}	
.inherit{
	text-align: inherit;
}

.allproduct{
	text-align: center;
	margin-top: 50px;
}

.allproduct ul li{
	display: inline-block;
	width: 200px;
	border: 1px solid black;
	padding: 5px;
}

.allproduct ul{
	margin: 0;
}